div {
    padding: 0px;
}

body {
}

.container {
  width: 768px;
  max-width: none !important;
}

.bodyContainer {
    margin-top: 5px;
    height: 465px;
    overflow: hidden;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
    opacity: 0.2;
}

.stretch {
    width:100%;
    height:100%;
}

.header {
    width: 780px;
    height: 100px;
}

.body {
    width: 565px;
    float: left;
    overflow-x: hidden;
    margin: 10px;
}

.bodyContent {
    width: 100%;
    height: 100%;
}

input[type=checkbox]{
  /* All browsers except webkit*/
transform: scale(1.4);
/* Webkit browsers*/
-webkit-transform: scale(1.4);
}

input[type='checkbox']:checked {
    background: #abd;
}

div.value {
    width: 30px;
    float: left;
}

.mash-schedule input[type=range] {
    width: 110px;
    display: inline;
}

.mash-schedule table>tbody>tr>td {
    padding: 6px;
}

.mash-schedule table>tbody>tr.disabled {
    color: lightgray;
}

.mash-actions input[type=button] {
    width: 70px;
}

.large {
    font-size: 23px;
}

.table {
    margin-bottom: 5px;
}

.steps a.current-step {
    height: 111px;
    background-color: #dff0d8;
}

.list-group {
    margin-bottom: 7px;
}

#graph-content {
    width:450px;
    height:270px;
    float:right;
}